* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 100px) {
  body {
    background-color: lightblue;
  }
}

#navbar {
  background-color: brown;
  color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
}

#welcome-section {
  margin: top 10rem;
}

p {
  font-size: larger;
}
